@import "../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link {
  color: rgb(161, 153, 152);
}

.form-control {
  padding: 5px;
  width: 80%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(148, 93, 165);
  margin: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  align-items: center;
  border-radius: 15px;
}

//Margin for the buttons
.btn-sm,
.btn-group-sm > .btn {
  margin: 10px;
}

.padding {
  padding: 35px;
}

.padding5 {
  padding: 5px;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: rgb(219, 139, 139);
  border-radius: 50%;
  display: flex;
}
.dot-mini {
  height: 50px;
  width: 50px;
  background-color: rgb(219, 139, 139);
  border-radius: 50%;
  display: flex;
  font-size: 20px;
}
//Just centering the first letter
.center-me {
  margin: auto;
}

//CSS for Chat
:root {
  --main-bg-color: #2b2e2e;
  --main-text-color: white;
  --sec-bg-color: #3f4444;
  --sec-text-color: rgb(210, 208, 214);
}

.chat-container {
  display: flex;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.chat-left-column {
  flex: 1;
  background-color: var(--sec-bg-color);
  height: 100vh;
  overflow: auto;
}

.chat-room {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: auto;
}
.user-info {
  background-color: var(--sec-bg-color);
}
.user-many {
  flex: 1;
}

.conversation {
  display: flex;
  flex: 1;
  overflow: auto;
  height: 100%;
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-end;
}

.createdAt {
  opacity: 0.5;
}

.message-field {
  display: flex;
}

.message-text,
.user-search {
  flex: 1;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.message-container-me {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
  color: var(--main-text-color);
}

.message-container-others {
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
  margin-top: 3px;
  color: var(--sec-text-color);
 
}

html {
  height: auto;
}

body {
  height: 100%;
  overflow-y: scroll;
}

//Hide the scrollbars
.body::-webkit-scrollbar,
.conversation::-webkit-scrollbar,
.chat-left-column::-webkit-scrollbar {
  display: none;
}

//CSS for User
.right-element {
  float:right;
  margin-top: 10px;
 
  
}

.main-container {
  max-width: 620px;
  margin:  auto;
  padding: 25px 25px 25px 25px;
  text-align: center;
  
}

.main-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin-top: 10px;

  

}

.main-container ul li {
  display: flex;
  flex-direction: column;
}

.main-container ul li img {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.main-container ul li footer {
  flex: 1;
  background: #fff;
  border: 1px solid #eee;
  padding: 15px 20px;
  text-align: left;
  border-radius: 0 0 5px 5px;
}
.main-container ul li footer strong {
  font-size: 16px;
  color: #333;
}
.main-container ul li footer p {
  font-size: 14px;
  line-height: 20px;
  color: #999;
  margin-top: 5px;
}
.main-container ul li .buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.main-container ul li .buttons button {
  height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  border: 0;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
.main-container ul li .buttons button:hover img {
  transform: translateY(-5px);
  transition: all 0.2s;
}
.empty {
  text-align: center;
}
.empty .icon {
  margin: 50px 0 30px 0;
  text-align: center;
  width: 170px;
}
.empty h2 {
  color: #c95f3b;
}
.match-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}
.match-container .userImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 30px 0;
}

.match-container strong {
  font-size: 32px;
  color: #fff;
}

.match-container p {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
  max-width: 400px;
  color: rgba(255, 255, 255, 0.8);
}
.match-container button {
  border: 0;
  background: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
}

.verticalhorizontal {
  display: table-cell;
  height: 300px;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}