@import "../node_modules/bootstrap/scss/bootstrap.scss";

.nav-link {
  color: rgb(161, 153, 152);
}

.form-control {
  padding: 5px;
  width: 80%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(148, 93, 165);
  margin: 5px;
  padding: 10px;
  align-items: center;
  border-radius: 15px;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  align-items: center;
  border-radius: 15px;
}

//Margin for the buttons
.btn-sm,
.btn-group-sm > .btn {
  margin: 10px;
}

.padding {
  padding: 35px;
}

.dot {
  height: 200px;
  width: 200px;
  background-color: rgb(219, 139, 139);
  border-radius: 50%;
  display: flex;
}

//Just centering the first letter
.letter {
  font-size: 60px;
  margin: auto;
}
